*.cache
GhettoClue/GhettoClue/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GhettoClue/GhettoClue/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GhettoClue/GhettoClue/obj/Debug/GhettoClue.csproj.FileListAbsolute.txt
GhettoClue/GhettoClue/obj/Debug/GhettoClue_MarkupCompile.i.cache
GhettoClue/GhettoClue/obj/Debug/VisualDismissal.g.cs
GhettoClue/GhettoClue/obj/Debug/VisualDismissal.g.i.cs
